<svg class="divider light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 55.5"><polygon class="cls-1" points="0 49 0 0 245 29 381 0 500 24 500 49 0 49"/></svg>

<% if(data.about) { %>
  <section id="about" class="about">
    <h3>About<span class="primary">.</span></h3>
    
    <p>
      Hello! I'm Patricia and I love creating different projects with code. When I am not working on a website or a web app, I like to create <a href="https://www.youtube.com/channel/UCnTVj2blZd_9_xpbo2t7ARw" target="_blank">YouTube tutorials</a> for others, who learn frontend web development. 
    </p>

    <p>Some of my videos are:</p>

    <div class="grid">
      <% data.about.forEach(video => { %>
        <div class="grid__card">
          <div class="grid__video">
            <iframe width="100%" height="100%" loading="lazy" src=<%= video.youtube_url %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <div class="grid__copy">
            <div>
              <h4 class="grid__title"><%= video.title %></h4>
              <p class="grid__desc"><%= video.description %></p>
            </div>
            <div>
              <a href=<%= video.demo_url %> target="_blank" class="button">View Demo</a>
              <a href=<%= video.code_url %> target="_blank" class="button">Source Code</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
    <p class="youtube-link">
      View more on YouTube: <a href="https://www.youtube.com/channel/UCnTVj2blZd_9_xpbo2t7ARw" target="_blank">Visit my channel</a>.
    </p>
    
    
    <%- include('./socials'); %>
  </section>
<% } %>
<svg class="divider light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 49"><polygon class="cls-1" points="500 0 500 49 255 20 119 49 0 25 0 0 500 0"/></svg>