<% if(data.about) { %>
  <section id="about" class="about">
    <h3>About<span class="primary">.</span></h3>
    <div class="youtube">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, culpa.
      </p>
  
      <div class="grid">
        <% data.about.forEach(video => { %>
          <div class="grid__card">
            <div class="grid__video">
              <iframe width="100%" height="100%" src=<%= video.youtube_url %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="grid__copy">
              <h4 class="grid__title"><%= video.title %></h4>
              <p class="grid__desc"><%= video.description %></p>
              <a href=<%= video.demo_url %> class="button">View Demo</a>
              <a href=<%= video.code_url %> class="button">Source Code</a>
            </div>
          </div>
        <% }); %>
      </div>
      <p>
        View more on YouTube: <a href="https://www.youtube.com/channel/UCnTVj2blZd_9_xpbo2t7ARw">Visit my channel</a>.
      </p>
    </div>
    <div>
      <p>Find me on social media:</p>
      <a href=""><svg><use href="#github"></use></svg></a>
      <a href=""><svg><use href="#linkedin"></use></svg></a>
      <a href=""><svg><use href="#youtube"></use></svg></a>
      <a href=""><svg><use href="#twitter"></use></svg></a>
      <a href=""><svg><use href="#instagram"></use></svg></a>
      
    </div>
  </section>
<% } %>