<% if(data.portfolio) { %>
  <section id="portfolio" class="portfolio section--padding">
    <h3 class="heading">Portfolio<span class="primary">.</span></h3>
    <div class="grid">
      <% data.portfolio.forEach(project => { %>
        <div class="grid__card">
          <div class="grid__video">
            <iframe width="100%" height="100%" loading="lazy" src=<%= project.video_url %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
  
          <div class="grid__copy">
            <div>
              <h4 class="grid__title"><%= project.title %></h4>
              <p>
                <span class="diff">Created with:</span> 
                <%= project.stack %>
              </p>
              <p>
                <span class="diff">Purpose:</span>
                <%= project.purpose %> 
              </p>
              <p>
                <span class="diff">Key features:</span>
                <ul>
                  <% project.features.forEach(feature => { %>
                    <li><%= feature %></li>
                  <% })%>
                </ul>
              </p>
            </div>
            <div>
              <a href=<%= project.live_url %> target="_blank" class="button">View Live</a>
              <a href=<%= project.github_url %> target="_blank" class="button">Source Code</a>
            </div>
          </div>
        </div>
      <% }); %>

      <div class="grid__card grid__card--last">
        <div class="grid__copy">
          <h4 class="grid__title">Brochure Websites</h4>
          <p>
            These pages only use HTML, CSS and JavaScript (and a bit of PHP to send emails through the contact form). 
          </p>
        </div>

        <div class="static">
          <div class="static__wedding">
            <div class="background"></div>
            <div class="static__copy">
              <p>Wedding Photographer Portfolio</p> 
              <a href="https://patriciamolnar.github.io/wedding-photographer" target="_blank">View Live</a>
              <a href="https://github.com/patriciamolnar/wedding-photographer" target="_blank">Source Code</a>
            </div>
          </div>
  
          <div class="static__travel">
            <div class="background"></div>
            <div class="static__copy">
              <p>Travel Videographer Portfolio</p> 
              <a href="https://patriciamolnar.github.io/travel-videographer" target="_blank">View Live</a>
              <a href="https://github.com/patriciamolnar/travel-videographer" target="_blank">Source Code</a>
            </div>
          </div>
  
          <div class="static__charity">
            <div class="background"></div>
            <div class="static__copy">
              <p>Bilingual Charity Website</p> 
              <a href="https://hazakiserotelefon.hu/en/" target="_blank">View Live</a>
              <span>As this project was made for a client, the source code remains private.</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
<% } %>